{% extends '@SYMRestau/baseAdmin.html.twig' %}

{% block title %}Gérer les suppléments{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Gérer les suppléments</h1>
</div>
{% endblock %}